@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');

/* links */

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  color: rgb(189, 189, 189);
}

/* corpo do cabeçalho */

header
{

  height: 30dvh;
  background-color: #000000;
  background-image: url(../img/fundo-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;

}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

header * {
  position: relative;
  z-index: 2;
}

.menu
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Georgian";
  height: 15dvh;
  
}

/* lista de links */

.nav-list{
  list-style: none;
  display: flex;

}

.nav-list > li{
  letter-spacing: 3px;
  margin-left: 32px;
  
}

/* menu para celular */

.menu2
{

  display: none;
  position: absolute; /* Para alinhar com .mobile-menu */
  top: 35%; /* Ajuste para alinhar com o .mobile-menu */
  right: 7%; 
  width: 80%;
  border-radius: 8px;
 

}

.mobile-menu{
  /* display: none;
  cursor: pointer;
  right: 7%; */
  display: none;
  position: absolute; /* Torna o ícone fixo na página */
  right: 7%;
  cursor: pointer;
}

.mobile-menu > div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  border-radius: 50px;
}

.menu2.show {
  display: block; /* Torna o menu visível quando a classe 'show' é adicionada */
}

.menu2 > ul
{

  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;

}

.menu2 > ul > li {
  opacity: 0;
  transform: translateY(-20px); /* Posição inicial dos links fora da tela */
  animation: dropDown 0.5s forwards; /* Aplica a animação aos links */
}

.menu2 > ul > li:nth-child(1) {
  animation-delay: 0.1s;
}

.menu2 > ul > li:nth-child(2) {
  animation-delay: 0.3s;
}

.menu2 > ul > li:nth-child(3) {
  animation-delay: 0.5s;
}

.menu2 > ul > li:nth-child(4) {
  animation-delay: 0.7s;
}


.menu2 > ul > li > a
{

  color: aliceblue;
  display: inline-block;
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: .5rem;
  padding: .5rem 1rem;

}

.menu2 > ul > li > a:hover
{

  background-color: white;
  color: #000000;

}


/* Keyframes para a animação de queda */
@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Começa fora da tela */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição original */
  }
}


.nav-list:active {
  transform: translateX(0) ;
}

#logo
{

  height: 200px;

}

@media (min-width: 760px)
{

    #logo
  {

    height: 200px;

  }

  .menu
  {
  
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }

}

@media (max-width: 759px)
{


  .nav-list{

    display: none;

  }


  .mobile-menu{
    display: block;
    top: 20%;
  }

  .menu
  {
  
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }

}

.nav-list 
{

    padding: 0;
    margin: 0;

}

.nav-list > ul
{

  text-align: center;

}

