@charset "UTF-8";

/*_*/

.body-faq
{

    height: 100dvh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;

}

.accordion
{

    width: 50%;
    margin: 1rem;

}

@media (max-width: 759px)
{

    .accordion
{

    width: 100%;
    margin: 1rem;

}

}
