@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Quicksand:wght@300..700&display=swap');

/*_*/


:root
{


    --cor1: #044389;
    --cor2: #B084CC;
    --cor2-1: #999DF2;
    --cor3: #820263;
    --cor4: #4269d4;
    --cor5: #2d4991;
    --cor6: #2A26A6;
    --cor7: #5C57F2;
    --cor8: #010E26;
    --cor9: #22A2F2;
    --cor10: #35DFF2;
    --corfont: rgb(131, 131, 131);
    --corfontbtn: rgb(90, 90, 90);
    --corfundo: rgb(240, 240, 240);
    --font1:"Noto Sans Georgian";
    --font2:"Montserrat";


}

body
{

    background-color: var(--cor7);

}



/* div perssonalizadas */

.top
{
    
    /* clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px)); */
    height: 80dvh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corfundo);

}

.bottom 
{

    /* clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%); */
    height:auto;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--corfundo);
    margin-top: -10px;

}


.quem-sou
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}


.btns
{

    height: auto;
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--corfundo);

}


/* foto */

.foto
{

    width: 30%;
    border-radius: 50%;
    margin: 1rem;
    
}


/* textos */

#nome
{

    width: 100%;
    margin: 1rem;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3rem;  


}

.txt 
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 50%;
    margin: 1rem;    
    padding: 1rem;
    text-align: center;
    color: var(--corfont);
 
}

strong
{

    font-weight: bold;

}

.txt-2
{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    color: var(--corfont);
    font-family: "Noto Sans Georgian";
    font-size: 1rem;  
    text-indent: 1rem; 
    max-width: 600px;

}

.txt-2-final
{

    width: 90dvw;
    color: #ffffff;
    text-align: center;
    /* border: 3px solid var(--cor2); */
    background-color: var(--cor6);
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.4rem; 
    max-width: 700px;
 
}

/* buttons */

button[name="veja-mais"],button[name="agendar"]
{

    margin: 1rem;
    margin-top: 0;
    padding: 0.5rem 1rem;
    color: var(--corfont);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;

}

button[name="veja-mais"]:hover
{

    border: 2px solid var(--corfont);
    background-color: black;
    color: aliceblue;


}

button[name="agendar"]:hover
{

    border: 2px solid var(--corfont);
    background-color: black;
    color: aliceblue;


}

button[name="quem-sou"]
{

    margin-top: 0.5rem ;
    padding: 0.5rem 4.5rem;
    color: var(--corfontbtn);
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 5rem;
    
}

button[name="quem-sou"]:hover
{

    border: 2px solid var(--corfont);
    background-color: black;
    color: aliceblue;


}


@media (max-width: 759px)
{


    .quem-sou, .top
    {

        flex-direction: column;
        height: auto;
        align-items: center;

    }

    .foto
{

    width: 50%;
    border-radius: 50%;
    margin: 1rem;
    
}

    .txt
    {

        width: 80%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;

    }

    .txt-2-final
{

    width: 80dvw;
    font-size: 1rem;
 
}

    .btns
    {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }


}
