@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Georgian:wght@100..900&display=swap');


/*_*/

/* configuracoes da vitrine de produtos e modal */

:root
{


    --cor1: #044389;
    --cor2: #B084CC;
    --cor2-1: #999DF2;    
    --cor2-2: #888cd8;
    --cor2-3: #8185cc;
    --cor3: #820263;
    --cor4: #4269d4;
    --cor5: #2d4991;
    --cor6: #2A26A6;
    --cor7: #5C57F2;
    --cor8: #010E26;
    --cor9: #22A2F2;
    --cor10: #35DFF2;
    --corfont: rgb(131, 131, 131);
    --corfontbtn: rgb(90, 90, 90);
    --corfundo: rgb(240, 240, 240);
    --font1:"Noto Sans Georgian";
    --font2:"Montserrat";


}


/* formatar txt */

h2
{

    font-family: var(--font2);
    color: var(--corfontbtn) ;
    text-align: center;

}

p
{

    font-family: var(--font2);
    color: var(--corfont);
    text-indent: 1rem;
    text-align: justify;
    padding: 1rem;
    padding-top: 0;
    margin-top: 1rem;

}

.box-link-zap
{

    text-align: center;


}

.link-zap
{

    font-family: var(--font2);
    font-weight: bold;
    text-decoration: underline;
    color: var(--corfontbtn);
    padding: 1rem;
    margin-top: 1rem;

}

.link-zap:hover
{

   color: var(--cor5);
   text-decoration: none;

}

.tag
{

    display: flex;

}

.tags
{

    color: white;
    padding: 1rem;
    background-color: var(--cor2-1);
    border-radius: 20px;
    text-align: center;

}

.corpo-vitrine
{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    background-color: var(--corfundo);
    height: auto;

}

.vitrine
{


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 600px;


}

.modal-inteiro
{

    height: auto;
    width: auto;
    margin: 1rem;

}

.produto
{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 150px;

}


#btn1
{

    width: 100%;
    height: 40%;
    font-family: var(--font2);
    border-radius: 0px 0px 8px 8px;
    background-color: var(--cor6);
    border: #4e49d4 ;


}

.img 
{

    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: black;
    border-radius: 8px 8px 0px 0px;


}

.img.img1
{

    background-image: url(../img/mesa-radionica.jpg);
    background-position: center center;

}

.img.img2
{

    background-image: url(../img/constelacao-familiar.jpg);
    background-position: center center;

}

.img.img3
{

    background-image: url(../img/multi-dimensional.jpg);
    background-position: center center;

}

.img.img4
{

    background-image: url(../img/tameanawebp.webp);
    background-position: center center;

}

.img.img5
{

    background-image: url(../img/reike.jpg);
    background-position: center center;

}

.img.img6
{

    background-image: url(../img/isis-img.jpg);
    background-position: center center;

}

.img.img7
{

    background-image: url(../img/registross.avif);
    background-position: center center;

}

.img.img8
{

    background-image: url(../img/theta.jpg);
    background-position: center center;

}

button > a
{

    color: white;
    text-decoration: none;

}

.btn-primary 
{

   background-color: var(--cor2-1);
   border: var(--cor2);

}

.btn-primary > a:hover
{

   color: white;

}

.btn-primary:hover
{

   background-color: var(--cor2-3);
   border: var(--cor2-2);

}

.img-modal-aberto > img
{

    width: 100%;
    margin-bottom: 1rem;
    
}


.txt
{

   width: 10dvh; 
   margin: 0px;
   padding: 0px;

}

/*configuracoes do titulo cursos*/

.cursos-titulo
{

    text-align: center;
    background-color: blueviolet;

}




@media (max-width: 759px)
{

    .vitrine
    {

        width: 90%;

    }

    .produto
    {

        height: 250px;
        width: 208.33px;

    }

    p
{
    text-align: justify;
}

}


@media (min-width: 760px)
{

    .vitrine
    {

        width: 90%;

    }

    .produto
    {

        height: 225px;
        width: 187.5px;

    }

}

.modal-backdrop{
    height: 0;
    
}